#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;


    aside {
        flex: 7;
        background: #fd7b5ac7;
        color: #FFF;
        
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 120px 80px;

        img{
            max-width: 320px;
        }

        strong {
            font: 700 36px 'Poppins', sans-serif;
            line-height: 42px;
            margin-top: 16px;
        }

        p {
            font-size: 24px;
            line-height: 32px;
            margin-top: 16px;
            color: #F8F8F8;
        }
    }

    main {
        flex: 8;
        padding: 0 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;

        > img {
            align-self: center;
        }

        h2, h3 {
            color: rgba(0, 0, 0, 0.74);
        }
    }

    .sign-google {
        margin-top: 64px;
        height: 50px;
        border-radius: 8px;
        font-weight: 500px;
        background: #ea4335;
        color: #FFF;

        display: flex;
        justify-content: center;
        align-items: center;

        //make cursor mode
        cursor: pointer;
        border: 0;

        transition: filter 0.2s;

        >img {
            margin-right: 8px;
        }

        &:hover {
            filter: brightness(0.9);
        }
    }



    .separator {
        font-size: 14px;
        color: #a8a8b3;

        margin: 32px 0;
        display: flex;
        align-items: center;

        //criar os tracos antes e depois do texto
        &::before{
            content: '';
            flex: 1;
            height: 1px;
            background-color: #a8a8b3;
            margin-right: 16px;
        }

        &::after{
            content: '';
            flex: 1;
            height: 1px;
            background-color: #a8a8b3;
            margin-left: 16px;

        }
    }
}

.main-content-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 435px;
    align-items: stretch;
    text-align: center;

    > img {
        align-self: center;
    }

    h2 {
        color: rgba(0, 0, 0, 0.74);
    }

    .header {
        display: flex;
        flex-direction: row;
        width: 420px;
        align-items:center;
        justify-content: space-between;

        h3{
            color: rgba(0, 0, 0, 0.74);
            font-size: 24px;
            margin-right: -15px;
            cursor: pointer;
        }
    }
    
    .search-map {

        margin-top: 40px ;

        > input {
            padding: 08px;
            width: 80%;
            margin-top: 65px;
        }
    }

    .separator-filter {
        font-size: 14px;
        color: #a8a8b3;

        margin: 28px 0;
        display: flex;
        align-items: center;

        //criar os tracos antes e depois do texto
        &::before{
            content: '';
            flex: 1;
            height: 1px;
            background-color: #a8a8b3;
        }

        &::after{
            content: '';
            flex: 1;
            height: 1px;
            background-color: #a8a8b3;
        }
    }
}

.search-map-filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px ;

}

.combustivel, .reservatorio, .localizacao{
    
   display: flex;
   flex-direction: column;
   align-items: flex-start;

    li {
        display: flex;
        margin-bottom: 15px;
    }

    li:last-child{
        margin-bottom: 0px;
    }

    label {
        margin-left: 8px;
    }
}